<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Default">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Default" name="EvalServiceLibrary.EvalService">
                <clear />
                <endpoint address="basic" binding="basicHttpBinding" contract="EvalServiceLibrary.IEvalService"
                    listenUriMode="Explicit">
                    <identity>
                       <dns value="localhost" />
                       <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectDistinguishedName" />
                    </identity>
                </endpoint>
                <endpoint address="ws" binding="wsHttpBinding" contract="EvalServiceLibrary.IEvalService"
                    listenUriMode="Explicit">
                    <identity>
                       <dns value="localhost" />
                       <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectDistinguishedName" />
                    </identity>
                </endpoint>
                <endpoint address="net.tcp://localhost:8081/evalservice" binding="netTcpBinding"
                    contract="EvalServiceLibrary.IEvalService" listenUriMode="Explicit">
                    <identity>
                       <dns value="localhost" />
                       <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectDistinguishedName" />
                    </identity>
                </endpoint>
                <endpoint address="net.pipe://localhost/evalservice" binding="netNamedPipeBinding"
                    contract="EvalServiceLibrary.IEvalService" listenUriMode="Explicit">
                    <identity>
                       <dns value="localhost" />
                       <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectDistinguishedName" />
                    </identity>
                </endpoint>
               <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                   contract="IMetadataExchange" >
                  <identity>
                     <dns value="localhost" />
                     <certificateReference storeName="My" storeLocation="LocalMachine"
                          x509FindType="FindBySubjectDistinguishedName" />
                  </identity>
               </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8082/evalService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>